body {
  background-image: url(../image/football.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  min-height: 100%;
  height: 200%;
}
h1 {
  color: green;
}
h2 {
  color: red;
}
main {
  color: white;
}
img {
  background-image: url(../image/logo.png);
  max-width: 100%;
  height: auto;
}
#champs {
  color: gold;
}
#comm {
  color: red;
}
a:link {
  color: white;
}
a:visited {
  color: red;
}
a:hover {
  color: rebeccapurple;
}
#members {
  right: auto;
}
#col2 {
  right: auto;
}
